
h2.title{
	font-size: 3em;
	text-align: center;
	margin-bottom: 20px;
	color: #052849;
	text-decoration: underline;
	line-height: 2em;
	font-weight: 500;
}

.title-spacer{
	margin-top: 40px;
	margin-bottom: 20px;
}

.small-spacer{
	margin-bottom: 10px;
	margin-top:20px;
}

.demo-col{
	background-color: #f4ead4;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #8e5c1f;
    box-sizing: border-box;
}

.demo-col > p{
	text-align: center;
	margin-top:15px;
	font-size: 1em;
}